# CONFIGURAÇÕES DO BOT CRM - TEMPLATE
# Copie este arquivo para .env e preencha com suas credenciais reais

# HubSpot API
# Obtenha em: https://developers.hubspot.com/
HUBSPOT_API_KEY=pat-na1-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Mailtrap SMTP (Ambiente de Testes)
# Obtenha em: https://mailtrap.io/
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=seu_username_mailtrap
MAILTRAP_PASS=sua_senha_mailtrap

# Configurações de E-mail
EMAIL_REMETENTE=seu-email-remetente@empresa.com.br
